Repository adworldmediaonline/visacollect-expo-app-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: database, config, middleware, routes, controllers, services, tests, documentation, ci/cd, dependencies

.github/labeler.yml:

# Auto-labeling configuration for PRs based on changed files

'database':
  - 'prisma/**/*'
  - '**/*.prisma'

'config':
  - 'src/config/**/*'
  - '.env.example'
  - 'package.json'
  - 'package-lock.json'

'middleware':
  - 'src/middleware/**/*'

'routes':
  - 'src/routes/**/*'

'controllers':
  - 'src/controller/**/*'

'services':
  - 'src/services/**/*'

'tests':
  - 'src/tests/**/*'
  - '**/*.test.js'
  - '**/*.spec.js'

'documentation':
  - '**/*.md'
  - 'docs/**/*'

'ci/cd':
  - '.github/**/*'
  - '.github/workflows/**/*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'

Refactor table formatting in CI/CD documentation for improved readability
  CI_CD_WORKFLOW_DIAGRAM.md
  DOCUMENTATION_INDEX.md
Labels: documentation

Add Cloudinary integration and update app routes
  package-lock.json
  package.json
  src/app.js
  src/config/cloudinary.js
  src/config/env.js
  src/controller/upload.controller.js
  src/routes/upload.routes.js
Labels: config, routes, controllers, dependencies

Enhance image upload handling by increasing body parser limits and improving Cloudinary upload method for better memory management
  src/app.js
  src/controller/upload.controller.js
Labels: controllers

Add Payment and Visa Application models with PayPal integration
  prisma/migrations/20251027160408_add_visa_application_models/migration.sql
  prisma/schema.prisma
  src/app.js
  src/config/env.js
  src/config/paypal.js
  src/controller/visa-application.controller.js
  src/routes/visa-application.routes.js
Labels: database, config, routes, controllers

Enhance payment processing with new success and cancel routes, update PayPal integration settings, and improve logging for payment capture. Added fetch to ESLint globals for better linting support.
  eslint.config.js
  src/app.js
  src/config/paypal.js
  src/controller/visa-application.controller.js
Labels: config, controllers

Add Resend email service integration
  package-lock.json
  package.json
  src/config/env.js
  src/config/resend.js
  src/controller/visa-application.controller.js
  src/services/email-service.js
Labels: config, controllers, services, dependencies

Add email field to VisaApplication model and update submission logic
  prisma/migrations/20251027181431_add_email_field/migration.sql
  prisma/schema.prisma
  src/controller/visa-application.controller.js
Labels: database, controllers

Update .env.example with additional environment variables for development
  .env.example
Labels: config
